.container{
    background-color: #f6fff8;
    min-height: 100vh;
    transition: 2s;

    .cards{
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        gap: 20px;
    }
}
.dark {
    background-color: #37323e;
}
