.container {
    background-color: #fbffff;
    width: 100%;
    height: 450px;
    border-radius: 7px;
    transition: 1s;
    cursor: pointer;

    &:hover{
        transition: .1s;
        transform: scale(1.01);
    }

    .picture{
        height: 50%;
        background-color: rgb(137, 137, 137);
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        display: flex;
        align-items: center;
        background-image: url('https://img.favcars.com/mercedes-benz/e-klasse/wallpapers_mercedes-benz_e-klasse_2006_7_b.jpg');
        background-size: 350px;
        background-position: center;
        background-repeat: none;

        .icon{
            font-size: 200px;
        }
    }

    .keyInfo{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .description{
        padding: 10px;
    }
}

.dark{
    background-color: #bfbdc1;
}